body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
}

.button-blue {
  background-color: #1669b3;
  padding: 15px 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.button-yellow {
  background-color: #f7b516;
  padding: 15px 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

section {
  padding: 60px 0;
}
section.section-header {
  padding-top: 0;
}

input {
  width: 38%;
  background-color: #f2f2f2;
  border: none;
  color: #818181;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 40px 20px 20px;
}

header {
  background-color: #191919;
  color: #ffffff;
  padding: 25px 0;
}
header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrap .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  header .header-wrap .time {
    display: none;
  }
}
header .header-wrap .time span:first-child {
  font-weight: 700;
}
header .header-wrap .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrap .tel .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}
@media (max-width: 992px) {
  header .header-wrap .tel .num {
    display: none;
  }
}
header .header-wrap .tel .num a {
  color: #ffffff;
  text-decoration: none;
}
header .header-wrap .tel .header-callback {
  margin-left: 30px;
}

.section-header {
  background: #ffffff url("/img/main-bg.jpg") center no-repeat;
  background-size: cover;
}
.section-header .adv {
  padding: 50px 0 63px 63px;
  background-color: #f7b516;
  position: relative;
}
@media (max-width: 1200px) {
  .section-header .adv {
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .section-header .adv {
    padding: 40px;
  }
}
.section-header .adv h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: lighter;
}
@media (max-width: 1200px) {
  .section-header .adv h1 {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .section-header .adv h1 {
    font-size: 25px;
  }
}
.section-header .adv p {
  font-size: 25px;
}
@media (max-width: 1200px) {
  .section-header .adv p {
    font-size: 20px;
  }
}
.section-header .adv .triggers {
  list-style: none;
  padding: 0;
}
.section-header .adv .triggers .trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .section-header .adv .triggers .trigger {
    padding-bottom: 10px;
  }
}
.section-header .adv .triggers .trigger img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.section-header .adv .triggers .trigger p {
  font-size: 18px;
}
@media (max-width: 992px) {
  .section-header .adv .triggers .trigger p {
    font-size: 12px;
  }
}

.get-price {
  background: url("/img/get-price-bg.jpg") left center no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .get-price {
    background-position: 30% center;
  }
}
.get-price h2 {
  text-align: right;
  font-size: 25px;
  font-weight: bolder;
  margin: 60px 0 60px 0;
}
@media (max-width: 576px) {
  .get-price h2 {
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
  .get-price form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.get-price form .get-price__input {
  margin-left: 30px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .get-price form .get-price__input {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .get-price form .get-price__input {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .get-price form .get-price__input {
    width: 110%;
  }
}
@media (max-width: 992px) {
  .get-price .price-time-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
}
@media (min-width: 993px) {
  .get-price .price-time-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.get-price .price-time-block .get-price__button {
  min-width: 38%;
  margin-left: 30px;
  text-align: center;
}
.get-price .price-time-block .price-time {
  font-size: 14px;
  min-width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}
@media (max-width: 992px) {
  .get-price .price-time-block .price-time {
    display: none;
  }
}
.get-price .price-time-block .price-time span {
  margin-right: 10px;
  font-weight: bolder;
}

.details {
  padding-bottom: 0px;
}
.details h2 {
  font-size: 24px;
}
.details-triggers {
  padding: 60px 0;
  background-color: #08243e;
}
.details-triggers-container {
  color: #ffffff;
  text-align: center;
}
.details-triggers-container p {
  margin: 20px 0 40px 0;
}
.details-triggers-container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .details-triggers-container-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.details-triggers-container-wrap .details-trigger-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px;
}
.details-triggers-container-wrap .details-trigger-item .img {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.details-triggers-container-wrap .details-trigger-item .img img {
  width: 100px;
}
.details-triggers-container-wrap .details-trigger-item span {
  margin-top: 30px;
}
.details-form {
  padding: 60px 0;
  background: #0e3952 url("/img/details-bg.jpg") left center no-repeat;
  background-size: cover;
  color: #ffffff;
}
.details-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.details-form h2 {
  text-align: center;
}
.details-form p {
  text-align: center;
  margin: 15px 0 30px 0;
}
.details-form form {
  margin-bottom: 20px;
}
.details-form form input {
  width: 100%;
}
@media (max-width: 768px) {
  .details-form form input {
    margin-bottom: 20px;
  }
}
.details-form form .details-button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.details-form small {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
.details-form a {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.safeguards h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}
.safeguards .safeguard-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .safeguards .safeguard-item {
    margin-bottom: 15px;
  }
}
.safeguards .safeguard-item .img {
  width: 230px;
  height: 300px;
  margin-bottom: 20px;
}
.safeguards .safeguard-item .img-sg1 {
  background: url("/img/safeguards/sg1.jpg") center no-repeat;
  background-size: cover;
}
.safeguards .safeguard-item .img-sg2 {
  background: url("/img/safeguards/sg2.jpg") center no-repeat;
  background-size: cover;
}
.safeguards .safeguard-item .img-sg3 {
  background: url("/img/safeguards/sg3.jpg") center no-repeat;
  background-size: cover;
}
.safeguards .safeguard-item p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
}
.safeguards .safeguard-item a {
  color: black;
  font-weight: bolder;
}

.bonus-question {
  padding-bottom: 0;
  background-color: #08243e;
  color: #ffffff;
}
.bonus-question .bonus {
  padding-bottom: 60px;
}
.bonus-question .bonus h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
.bonus-question .bonus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .bonus-question .bonus-item {
    margin-bottom: 15px;
  }
}
.bonus-question .bonus-item .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 75px;
  width: 75px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-bottom: 20px;
}
.bonus-question .bonus-item .img-wrap span {
  font-size: 30px;
}
.bonus-question .bonus-item p {
  text-align: center;
  font-size: 14px;
}
.bonus-question .question {
  padding: 60px 0;
  background-color: #0b3554;
}
@media (max-width: 1200px) {
  .bonus-question .question img {
    width: 100%;
  }
}
.bonus-question .question h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.bonus-question .question p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 70px;
}
.bonus-question .question ol {
  padding-left: 15px;
}
.bonus-question .question ol li {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  padding-left: 30px;
}
.bonus-question .question ol li a {
  color: #ffffff;
}
.bonus-question .question .more-question {
  cursor: pointer;
}
.bonus-question .question .more-question a {
  padding-left: 30px;
  color: #ffffff;
  font-size: 14px;
}
.bonus-question .question .more-question i {
  font-size: 20px;
}

.why-we h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}
.why-we .why-we-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why-we .why-we-item .img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.why-we .why-we-item .img-ww1 {
  background: url("/img/why-we-img1.png") center no-repeat;
  background-size: cover;
}
.why-we .why-we-item .img-ww2 {
  background: url("/img/why-we-img2.png") center no-repeat;
  background-size: cover;
}
.why-we .why-we-item .img-ww3 {
  background: url("/img/why-we-img3.png") center no-repeat;
  background-size: cover;
}
.why-we .why-we-item p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
}

.storage {
  background-color: #0b3554;
  color: #ffffff;
}
.storage h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}
.storage .storage-photo-block .storage-photo-item img {
  width: 340px;
}
@media (max-width: 576px) {
  .storage .storage-photo-block .storage-photo-item img {
    width: 200px;
  }
}

.gypsy {
  padding-bottom: 60px;
}
.gypsy h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
.gypsy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .gypsy-item {
    margin-bottom: 15px;
  }
}
.gypsy-item .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 120px;
  width: 120px;
  border: 4px solid #ffbc3b;
  border-radius: 50%;
  margin-bottom: 20px;
}
.gypsy-item p {
  text-align: center;
  font-size: 14px;
}

.consult {
  padding: 60px 0;
  background: #0e3952 url("/img/consult-bg.jpg") right center no-repeat;
  background-size: cover;
  color: #ffffff;
}
.consult-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.consult-form h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .consult-form h2 {
    margin-bottom: 5px;
  }
}
.consult-form form {
  margin-bottom: 20px;
}
.consult-form form input {
  width: 100%;
}
@media (max-width: 768px) {
  .consult-form form input {
    margin-bottom: 15px;
  }
}
.consult-form form .details-button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.consult-form small {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.consult-form a {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 40px;
}

.contact {
  background: url("/img/contact-bg.jpg") right center no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .contact {
    background-position: 70% -75%;
  }
}
@media (min-width: 769px) {
  .contact {
    background-position: right center;
  }
}
.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-wrap h2 {
  font-size: 25px;
  font-weight: bolder;
  margin: 0 0 60px 0;
}
.contact-wrap span {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.contact-wrap a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
}

footer {
  background-color: #000000;
  padding: 35px 0;
}
footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
@media (max-width: 576px) {
  footer .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  footer .footer-wrap .logo {
    margin-bottom: 20px;
  }
}
footer .footer-wrap .made-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  footer .footer-wrap .made-by {
    display: none;
  }
}
footer .footer-wrap .made-by i {
  color: red;
}
footer .footer-wrap .footer-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-wrap .footer-call span {
  font-size: 18px;
  margin-bottom: 10px;
}
footer .footer-wrap .footer-call a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
}
